:root {
    --bg: #0c232f;
    --font-color: #f3fff4;
    --bg-second: #0b0e18;
    --hover-color: #a3f6fd;
    --button-color: #026b7e;
}

html {
    background: var(--bg);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadein 1s;
}