@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

/*i titled these poorly, without trying how any of it looks*/
:root {
    --bg: #202020;
    --block-color: #2b2b2b;
    --button-color: #373737;
    --hover-color: #3c3c3c;
    --font-color: #dcddde;
    --font-family: 'Lato', sans-serif;
}

html {
    background: var(--bg);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadein 1s;
    color: var(--font-color)
}

body.noscript {
    display: none;
}

#noscript-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    z-index: 999;
}

#particles {
    position: absolute;
    z-index: 0;
    background: var(--bg);
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    filter: blur(2px);  
}

#everything-else {
    display: grid;
}

.homepage {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

h1 {
    z-index: 50;
    position: relative;
    display: flex;
    justify-self: center;
    text-align: center;
    margin-top: 3.5rem; 
    font-size: 128px;
    font-weight: 100;
    font-family: 'Trispace', sans-serif;
    letter-spacing: 5px;
    color: -webkit-linear-gradient(white, #38495a)
}

logo img {
    z-index: 50;
    position: fixed;
    top: -2.5%;
    left: -1%;
    scale: 0.45;
}

.card-row {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.column {
    text-align: center;
    float: left;
    width: 25%;
    padding: 0 10px;
    cursor: pointer;
}

.column button {
    text-decoration: none;
    background: transparent;
    border: none;
    color: var(--font-color);
    padding: 0;
    margin: 0;
}

.card {
    box-shadow: var(--button-color) 0 4px 8px 0;
    padding: 16px;
    text-align: center;
    background-color: var(--button-color);
    border-radius: 50px;
    font-size: 150%;
    color: var(--font-color);
    font-family: var(--font-family);
    transition: all 0.2s ease-in;
}