{
	"env": {
		"browser": true,
		"es6": true,
		"node": false
	},
	"globals": {
		"document": true,
		"navigator": true,
		"window": true,
		"BridgeCommander": true,
		"Base64": true
	},
	"rules": {
		"arrow-parens": ["error", "as-needed"],
		"comma-dangle": ["error", { "arrays": "always-multiline", "objects": "always-multiline" }],
		"indent": ["error", "tab"],
		"max-len": [
			"error",
			{
				"code": 80,
				"ignoreStrings": true
			}
		],
		"no-underscore-dangle": [0],
		"no-undef": ["error"],
		"no-unused-vars": ["error", { "args": "none" }],
		"no-unreachable": ["error"],
		"quotes": ["error", "double"],
		"semi": ["error", "always"]
	}
}
