#loadingParent {
	width: 100vw !important;
	height: 100vh !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: linear-gradient(#20c4c7, #19999c);
}

.letter {
	position: relative;
	display: table-cell;
	font-size: 150px;
	font-family: "matiz";
	color: rgba(255,255,255,.5);
}

#unity-canvas {
	width: 100vw !important;
	height: 100vh !important;
}