.ArialBold { font-weight: bolder; }
.hint {margin-bottom: 10px; color: #aaa}
overflow: none

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #949494;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 11px;
    border: 0;
  }