<div class="level-stats {{zm.model.persistentData.zoomButtons ? 'zoom' : ''}}" ng-if="zm.model.stats && zm.showStats">
  <table>
    <tr>
      <td></td>
      <th ng-if="zm.model.stats.skeleton.show">Skeleton</th>
      <td ng-if="zm.model.stats.skeleton.show"></td>
      <th>Zombies</th>
      <td>{{zm.model.stats.zombie.count|whole}}</td>
      <th>Civilians</th>
      <td>{{zm.model.stats.human.count|whole}}</td>
      <th ng-if="zm.model.stats.police.show">Police</th>
      <td ng-if="zm.model.stats.police.show">{{zm.model.stats.police.count|whole}}</td>
      <th ng-if="zm.model.stats.army.show">Army</th>
      <td ng-if="zm.model.stats.army.show">{{zm.model.stats.army.count|whole}}</td>
    </tr>
    <tr>
      <th>Health</th>
      <td colspan="2" ng-if="zm.model.stats.skeleton.show">{{zm.model.stats.skeleton.health|whole}}</td>
      <td colspan="2">{{zm.model.stats.zombie.health|whole}}</td>
      <td colspan="2">{{zm.model.stats.human.health|whole}}</td>
      <td colspan="2" ng-if="zm.model.stats.police.show">{{zm.model.stats.police.health|whole}}</td>
      <td colspan="2" ng-if="zm.model.stats.army.show">{{zm.model.stats.army.health|whole}}</td>
    </tr>
    <tr>
      <th>Damage</th>
      <td colspan="2" ng-if="zm.model.stats.skeleton.show">{{zm.model.stats.skeleton.damage|whole}}</td>
      <td colspan="2">{{zm.model.stats.zombie.damage|whole}}</td>
      <td colspan="2">{{zm.model.stats.human.damage|whole}}</td>
      <td colspan="2" ng-if="zm.model.stats.police.show">{{zm.model.stats.police.damage|whole}}</td>
      <td colspan="2" ng-if="zm.model.stats.army.show">{{zm.model.stats.army.damage|whole}}</td>
    </tr>
    <tr>
      <th>Speed</th>
      <td colspan="2" ng-if="zm.model.stats.skeleton.show">{{zm.model.stats.skeleton.speed|whole}}</td>
      <td colspan="2">{{zm.model.stats.zombie.speed|whole}}</td>
      <td colspan="2">{{zm.model.stats.human.speed|whole}}</td>
      <td colspan="2" ng-if="zm.model.stats.police.show">{{zm.model.stats.police.speed|whole}}</td>
      <td colspan="2" ng-if="zm.model.stats.army.show">{{zm.model.stats.army.speed|whole}}</td>
    </tr>
  </table>
</div>