.dark {
    background-color: rgb(32, 32, 32);
    color: white;
}

.dark .panel {
    background-color: rgb(46, 46, 46);
}


.dark .button {
    background-color: rgb(31, 31, 31);
    border-color: white !important;
    color: white !important
}

.dark .button-no-button {    
    border: 0 !important;
    color: white !important;
    width: 100%;
    text-align: left;    
}

.dark .button-no-button:hover {
    cursor: pointer;
}

.dark .w3-bordered tr, .w3-table-all tr {
    border-bottom: 1px solid rgb(73, 73, 73);
}
.dark .w3-button:hover {
    background-color: rgb(82, 82, 82) !important; 
    color: white!important
}

.dark .selected {
    color: rgb(39, 234, 17) !important
}


