* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: RoughDraft; /*"CroMagnum";*/
    src: url("../assets/fonts/rough-draft.ttf");
}


body, html {
    font-family: /*'CroMagnum',*/ RoughDraft, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: transparent;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000000;
    height: 100%;
    text-align: center;
    -webkit-align-content: center;
    align-content: center;
    outline: none;
}

#msg {
    margin: 40% 25% 0% 25%;
    width: 50%;
    height: 50%;
    font-size: 12pt;
    color: white;
}